version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: shortner-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sngpcdb
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    #    volumes:
    #      - postgres-data:/var/lib/postgresql/data
    networks:
      - shortner-network
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: shortner-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - shortner-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: shortner-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "5050:80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - postgres
    networks:
      - shortner-network
    restart: unless-stopped

volumes:
  #  postgres-data:
  redis-data:
  pgadmin-data:

networks:
  shortner-network:
    driver: bridge